img.resize {
  max-width: 80%;
  height: auto;
}

@-webkit-keyframes move
{
  from {
    left: 0;
  }
  to {
    left: 40%;
  }
}
@keyframes move
{
  from {
    left: 0;
  }
  to {
    left: 40%;
  }
}

a#rotator {
  text-decoration: none;
  padding-right: 20px;
  left: 40%;
  position: absolute;
  -webkit-animation: move 5s;
  animation: move 5s;
}

a#rotator img {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  border-radius:60px;
  transition-duration: 1s;
}

/*
a#rotator img:hover {
box-shadow: 0 3px 15px #000;
-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-o-transform: rotate(360deg);
-ms-transform: rotate(360deg);
transform: translate()
}
 */
