<!doctype html>
<html class="no-js" lang="" ng-app="dissertationApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="css/rotate.css">
    <link rel="stylesheet" href="css/circular-progress-bar.css">
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="js/vendor/angular-1.4.7.js"></script>
    <script src="js/vendor/ngStorage.js"></script>
    <script src="js/dissertation-app.js"></script>
  </head>
  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->

    <div ng-controller="PagesController as pagesCtrl">

      <a id="rotator"><img class="resize" src="img/Totoro.png" /></a>

      <div class="progress-bar">
        <canvas id="inactiveProgress" class="progress-inactive" height="275px" width="275px"></canvas>
        <canvas id="activeProgress" class="progress-active"  height="275px" width="275px"></canvas>
        <p>0%</p>
        {{pagesCtrl.drawCircularProgressBar()}}
      </div>
      <!--
      <div id="progressControllerContainer">
        <input type="range" id="progressController" min="0" max="100" value="15" />
      </div>
      -->

      <div id="header">
        <h1>Justina's Dissertation Tracker</h1>
        <span>Info: This page is meant to track Justina's dissertation progress.</span>
      </div>

      <h2>Dissertation page counter</h2>
      <h4>Total number of pages required:</h4>
      <span>
        {{pagesCtrl.totalPages}}
      </span>
      <h4>Number of pages completed so far:</h4>
      <span>
        {{pagesCtrl.getCompletedPageCnt()}}
      </span>

      <form name="myForm" ng-submit="pagesCtrl.addPages()">
        <label>Number:
          <input type="number" name="input" placeholder="Pages written today." autofocus="autofocus"
                  ng-model="pagesCtrl.newPages" min="0" max="300" required>
        </label>
        <input id="submit" type="submit" value="Add">
        <div role="alert">
          <span class="error" ng-show="myForm.input.$pristine">&nbsp;</span>
          <span class="error" ng-show="myForm.input.$valid">&nbsp;</span>
          <span class="error" ng-show="myForm.input.$error.required">&nbsp;</span>
          <span class="error" ng-show="myForm.input.$error.number">Not valid number!</span>
          <span class="error" ng-show="myForm.input.$error.min">Very funny...please enter positive numbers!</span>
          <span class="error" ng-show="myForm.input.$error.max">Congratulations! You are done!...seriously though, how many pages today?</span>
        </div>
        <!--
        <tt>value = {{example.value}}</tt><br/>
        <tt>myForm.input.$valid = {{myForm.input.$valid}}</tt><br/>
        <tt>myForm.input.$error = {{myForm.input.$error}}</tt><br/>
        <tt>myForm.$valid = {{myForm.$valid}}</tt><br/>
        <tt>myForm.$error.required = {{!!myForm.$error.required}}</tt><br/>
        -->
      </form>

      <hr>

      <ul>
        <li ng-repeat="completedPage in pagesCtrl.completedPages | orderBy:'-date'">
          <span>
            <button class="btn" ng-click="pagesCtrl.delete(completedPage.count, completedPage.date)">x</button>
            [{{completedPage.date | date}}] Number of pages: {{completedPage.count}}
          </span>
        </li>
      </ul>

    </div>

    <footer>
      Photo By <a target='_blank' href='http://www.flickr.com/photos/8518701@N02/8134759127/'></a> via <a href="http://public-domain.pictures/" target="_blank">http://public-domain.pictures/</a>
    </footer>

    <!-- END Add your site or application content here -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.3.min.js"><\/script>')</script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
    <script src="js/rotate.js"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-54580114-3', 'auto');ga('send', 'pageview');
    </script>
  </body>
</html>
